@inject IHttpContextAccessor HttpContextAccessor
@{
    var HttpContext = HttpContextAccessor.HttpContext;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmaHauJenHoaVij</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SmaHauJenHoaVij.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">CampusEats</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @if (HttpContext.Session.GetString("UserId") != null)
                        {
                            <li class="nav-item">
                                <span class="nav-link text-dark">
                                    Logged in as: @HttpContext.Session.GetString("UserName") <br />
                                    Role: @HttpContext.Session.GetString("UserType")
                                </span>
                            </li>
                            @if (HttpContext.Session.GetString("UserType") == "Administrator")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/AdminPages/CourierApplications">Manage Applications</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/AdminPages/Dashboard/Index">Admin Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/AdminPages/AllUsers">All Users</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/AdminPages/ProductManagement/Index">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/AdminPages/SetDeliveryFee/SetDeliveryFee">Set Delivery Fee</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/AdminPages/Earnings/Earnings">Service Earnings</a>
                                </li>
                            }
                            @if (HttpContext.Session.GetString("UserType") == "Customer")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/CustomerPages/ApplyForCourier">Apply as Courier</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/CustomerPages/Shopping/Cart">Cart</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/CustomerPages/Shopping/BrowseItems">Shop</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/CustomerPages/Orders/MyOrder/Index">My Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/CustomerPages/Orders/OrderHistory/Index">Order History</a>
                                </li>    
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/CustomerPages/Payment/Index">My Invoices</a>
                                </li>    
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Entry/Logout">Logout</a>
                            </li>
                            @if (HttpContext.Session.GetString("UserType") == "Courier")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/CourierPages/AvailableOrders/AvailableOrders">Available Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/CourierPages/MyOrders/MyOrders">My Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/CourierPages/OrderHistory/OrderHistory">Order History</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/CourierPages/Earnings/Earnings">Earnings</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Entry/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Entry/Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SmaHauJenHoaVij - <a asp-area="" asp-page="/AdminPages/Login">Admin</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/notificationHub")
            .build();

        connection.on("ReceiveNotification", (message) => {
            console.log("[SignalR] Recived notification:", message);
            alert(message); // Show notification
        });

        connection.start()
            .then(() => console.log("Connected to SignalR"))
            .catch(err => console.error("SignalR connection error:", err));

    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
