@page "{invoiceId:guid}"
@model SmaHauJenHoaVij.Pages.CustomerPages.Payment.SuccessModel
@{
    ViewData["Title"] = "Payment Successful";
}

<h1>Payment Successful</h1>

<p>Your payment was successfully processed. Thank you for your order!</p>
